asgiref==3.4.1
Django==4.0
sqlparse==0.4.2
tzdata==2021.5
bleach
certifi
chardet
defusedxml
dj-database-url
dj-static
gunicorn
html5lib
idna
Markdown
PyJWT
oauthlib
psycopg2
Python-decouple
python-social-auth
python-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
static3
Unipath
urllib3
whitenoise

